Package: com.ihack102.kbscz
Name: KBShortCutz
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iHack102
Author: iHack102
Section: Tweaks
